name: CI

on: 
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to tag the commit with (format vX.Y.Z)'
        required: true
        type: string
  
permissions:
  checks: write
  pull-requests: write
  id-token: write
  contents: write
  pages: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Github actions have Node and Yarn already set-up by default
    # It is not clear which versions these are, 
    # so it might be a good idea to specify them via an action like actions/setup-node@v4
    - uses: actions/checkout@v4
    - name: Install
      run: yarn
    - name: Unit tests
      run: yarn test
    - name: Build
      run: yarn build
    - name: Integration tests
      run: yarn test:e2e
    - name: Publish JUnit Test Report
      if: always()  # always publish even if tests fail
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        files: |
          **/reports/**/*.xml
    - name: Tag commit
      if: ${{ github.event_name == 'workflow_dispatch' }}
      env:
        VERSION: ${{ github.event.inputs.version }}
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git tag -a "$VERSION" -m "Release $VERSION"
        git push origin "$VERSION"
